@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Team 3's Contoso Conference</h1>
    <p>View our current <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Sessions">Sessions</a>.</p>
    <img src="Images/empty-conference-space.jpg" alt="Conference" />
</div>
